* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  border: 1px solid #c7c7c7;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  padding: 20px 0;
  border-radius: 10px;
}

.input-container input{
  height: 40px;
  width: 80%;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 16px;
  border-radius: 5px;
}

.input-container input:focus{
  outline: none;
}

.input-container button{
  height: 40px;
  width: 80%;
  margin: 5px 0;
  background-color: #319b54;
  color: #fff;
  border: #319b54;
  cursor: pointer;
  border-radius: 5px;
}

.input-container a{
  height: 30px;
  width: 80%;
  margin: 5px 0;
  color: #319b54;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  font-weight: bold;
}